

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-logo{
 font-size: 22px;
}

.navbar1{
  height: 60px;
}
.admin-name{
  font-size: 20px;
  overflow: hidden;
}

